<section class="about-section">
    <div class="about-content">
      <h1>About Us</h1>
        <b>Summary:</b>
        <li>Rushikesh has an outstanding academic record and thorough knowledge of various  
          institutional subjects of computer science .He is young and enthusiastic individual who thrives in fast paced environments.</li>
  
    
        <b>Objective:</b>
        <li>To obtain employment with a company that offers a positive atmosphere to learn 
          and Implement new skills and technologies for the betterment of the organization.</li>
        <li>To solve the problems in a creative and effective manner in a challenging position.</li>
    
    
       
      
    </div>
    <div class="about-image">
      <img src="/assets/img/myProfile.jpeg" alt="Atractive Image">
    </div>
  </section>